@inherits umbraco.MacroEngines.DynamicNodeContext

@{
    

    var destaque = Model;
    var imgDestaque = Library.MediaById(destaque.imagemChamada);
    var dataDestaque = destaque.dataHora.ToString("dd/MM/yyyy");
    var horaDestaque = destaque.dataHora.ToString("HH:mm:ss");

}

<div class="col-md-8">
    <h2 class="text-left">
        @destaque.Titulo
        <small class="block">@destaque.chamadaNoticia</small>
    </h2>
    <p>São Paulo, SP</p>
    <p><small>em @dataDestaque às @horaDestaque</small></p>
    <img src="@imgDestaque.Url" alt="@imgDestaque.Name" class="img-destaque-noticia" />

    <div class="richtext">
        @destaque.conteudo
    </div>

</div>